In [378]:
## calling the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [379]:
dataset = pd.read_csv('train Data.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (329,331,333,336,338,344,345,346,348,354,355,356,357,358,361,362,364,367,372,377,380,383,385,387,390,392,399,400,406,408,409,413,416,418,419,431,433,437,438,442,448,449,450,453,457,464,473,478,479,481,483,485,486,489,492,495,496,497,498,499,500,503,507,508,510,511,514,515,517,519,520,521,522,523,524,526,527,530,534,537,538,539,541,544,547,548,549,550,551,557,558,560,564,569,572,573,576,577,579,583,596,597,598,600,601,602,604,605,606,608,609,613,619,620,625,627,628,629,631,632,633,636,641,642,643,645,646,647,648,651,655,661,662,665,668,675,676,679,682,685,687,689,690,691,694,698,701,702,703,706,711,712,713,719,720,721,733,735,737,738,742,746,747,748,749,752,754,755,760,764,768,770,781,782,789,797,807,812,814,817,818,822,823,824,825,832,840,843,844,845,850,853,857,858,861,867,868,873,874,876,877,879,880,881,883,886,890,893,897,899,900,901,902,904,905,908,909,910,912,913,914,915,916,922,923,931,933,935,937,939,942,943,946,951,955,960,964,965,968,969,970,973,974,977,980,987,994,995,996,999,1000,1008,1014,1015,1016,1017,1020,1021,1023,1028,1031,1035,1036,1037,1039,1040,1043,1048,1051,1055,1058,1059,1072,1073,1074,1081,1090,1097,1098,1103,1104,1109,1112,1113,1114,1118,1120,1130,1134,1135,1139,1140,1147,1148,1149,1152,1154,1157,1158,1162,1163,1164,1166,1169,1174,1177,1180,1181,1182,1183,1185,1188,1189,1195,1197,1198,1200,1203,1208,1210,1212,1215,1217,1220,1222,1225,1229,1230,1233,1234,1241,1243,1246,1250,1251,1252,1254,1259,1262,1263,1265,1266,1269,1270,1273,1274,1276,1277,1279,1280,1282,1284,1285,1286,1289,1291,1292,1293,1294,1295,1301,1302,1304,1305,1306,1308,1309,1311,1313,1316,1318,1320,1322,1323,1325,1330,1335,1337,1340,1341,1343,1345,1350,1351,1352,1354,1357,1358,1359,1360,1361,1368,1369,1372,1377) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [461]:
df= dataset
df

,id,release,n_0000,n_0001,n_0002,n_0003,n_0004,n_0005,n_0006,n_0007,...,c_1368,c_1369,c_1370,c_1371,c_1372,c_1373,c_1374,c_1375,c_1376,c_1377
0,11193,a,NaN,NaN,0.025449,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,q,NaN,NaN,NaN
1,11382,a,NaN,NaN,0.031297,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,a,NaN,a,NaN,NaN,NaN,NaN,NaN
2,16531,a,NaN,NaN,0.024475,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,a,NaN,a,NaN,b,NaN,NaN,NaN
3,1896,a,NaN,NaN,0.041694,NaN,NaN,0.447368,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
4,18262,c,NaN,NaN,0.038120,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,b,NaN,a,NaN,a,NaN,NaN,NaN
5,10540,b,NaN,NaN,0.039420,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
6,5244,c,NaN,NaN,0.050141,NaN,NaN,0.394737,0.2,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
7,1929,a,NaN,NaN,0.049166,NaN,NaN,0.710526,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
8,11928,b,NaN,NaN,0.050249,NaN,NaN,0.394737,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,b
9,6327,a,NaN,NaN,0.049491,NaN,NaN,0.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
10,12437,b,NaN,NaN,0.016136,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
11,14898,b,NaN,NaN,0.019277,NaN,NaN,0.421053,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
12,9981,b,NaN,NaN,0.020035,NaN,NaN,0.473684,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
13,5059,c,NaN,0.809524,0.034113,NaN,NaN,0.473684,0.0,NaN,...,NaN,NaN,NaN,NaN,a,NaN,b,p,NaN,NaN
14,8818,a,NaN,NaN,0.025774,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,b,NaN,a,NaN,NaN,NaN,NaN,NaN
15,9801,a,NaN,NaN,0.039636,NaN,NaN,0.473684,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
16,17986,b,NaN,NaN,0.022092,NaN,NaN,0.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN
17,17970,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,a
18,645,a,NaN,NaN,0.054364,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,b
19,6496,c,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,b
20,10069,b,NaN,NaN,0.039528,NaN,NaN,0.394737,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
21,1854,a,NaN,NaN,0.055122,NaN,NaN,0.394737,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,b
22,7634,a,NaN,NaN,0.030648,NaN,NaN,0.473684,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,q,NaN,NaN,NaN
23,11309,c,NaN,NaN,0.043210,NaN,NaN,0.368421,0.0,NaN,...,NaN,NaN,NaN,NaN,a,NaN,b,NaN,NaN,NaN
24,15456,b,NaN,NaN,0.040936,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
25,10175,a,NaN,NaN,0.027399,NaN,0.7,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,d,NaN,NaN,NaN,NaN
26,7195,a,NaN,NaN,0.034005,NaN,NaN,0.342105,NaN,0.000000,...,NaN,NaN,NaN,NaN,a,NaN,x,NaN,NaN,NaN
27,17352,a,NaN,NaN,0.030431,NaN,NaN,0.473684,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN
28,6192,c,NaN,0.452381,0.049383,NaN,NaN,0.421053,0.4,NaN,...,NaN,NaN,b,NaN,a,NaN,NaN,NaN,NaN,NaN
29,12494,b,NaN,NaN,0.034763,NaN,NaN,0.421053,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14614,8271,a,NaN,NaN,0.045376,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,b,NaN,NaN,NaN
14615,13516,c,NaN,NaN,0.059671,NaN,NaN,0.789474,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14616,9145,b,NaN,NaN,0.023500,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14617,3530,a,NaN,NaN,0.050899,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,b,NaN,NaN,b
14618,9251,c,NaN,NaN,0.037470,NaN,NaN,0.394737,0.0,NaN,...,NaN,NaN,NaN,NaN,a,NaN,b,NaN,NaN,NaN
14619,14983,c,NaN,NaN,0.055989,NaN,NaN,0.447368,0.2,0.000000,...,NaN,NaN,NaN,NaN,a,NaN,a,NaN,NaN,NaN
14620,9190,c,NaN,0.785714,0.036387,NaN,NaN,0.315789,0.0,0.011905,...,NaN,NaN,NaN,NaN,a,NaN,b,b,NaN,NaN
14621,4710,a,NaN,NaN,0.032164,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,q,NaN,NaN,NaN
14622,10849,b,NaN,NaN,0.029890,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14623,12656,b,NaN,NaN,0.025991,NaN,NaN,0.526316,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14624,2618,a,NaN,NaN,0.055772,NaN,NaN,0.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,a
14625,16445,c,NaN,NaN,0.062378,NaN,NaN,0.394737,0.2,NaN,...,NaN,NaN,NaN,NaN,a,d,q,j,NaN,b
14626,15728,c,NaN,0.666667,0.032489,NaN,NaN,0.447368,0.0,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14627,4876,a,NaN,NaN,0.025341,NaN,NaN,0.394737,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14628,4979,a,NaN,NaN,0.042777,NaN,NaN,0.263158,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14629,6468,a,NaN,NaN,0.034438,NaN,NaN,0.315789,NaN,0.000000,...,NaN,NaN,b,NaN,a,NaN,q,j,NaN,NaN
14630,5257,a,NaN,NaN,0.036929,NaN,NaN,0.421053,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14631,313,c,NaN,0.523810,0.045267,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14632,14780,c,NaN,NaN,0.042019,NaN,NaN,0.500000,0.0,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN
14633,5452,a,NaN,NaN,0.029348,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14634,4770,a,NaN,NaN,0.028698,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN
14635,16558,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,a,d,NaN,NaN,NaN,b
14636,11669,a,NaN,NaN,0.046026,NaN,NaN,0.263158,NaN,NaN,...,NaN,NaN,b,NaN,a,NaN,b,NaN,NaN,b
14637,3066,b,NaN,NaN,0.039636,NaN,NaN,0.552632,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN
14638,3043,b,NaN,NaN,0.046675,NaN,NaN,0.473684,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14639,4114,a,NaN,NaN,0.026532,NaN,NaN,0.500000,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,p,NaN,NaN
14640,5305,a,NaN,NaN,0.035846,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,NaN,NaN,b,NaN,NaN,NaN,NaN,NaN
14641,17461,c,NaN,NaN,0.060212,NaN,NaN,0.368421,0.4,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,j,NaN,b
14642,12373,b,NaN,NaN,0.020576,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
14643,5968,a,NaN,NaN,0.037254,NaN,NaN,0.526316,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN

In [383]:
df.head()

,id,release,n_0000,n_0001,n_0002,n_0003,n_0004,n_0005,n_0006,n_0007,...,c_1368,c_1369,c_1370,c_1371,c_1372,c_1373,c_1374,c_1375,c_1376,c_1377
0,11193,a,NaN,NaN,0.025449,NaN,NaN,0.368421,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,q,NaN,NaN,NaN
1,11382,a,NaN,NaN,0.031297,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,a,NaN,a,NaN,NaN,NaN,NaN,NaN
2,16531,a,NaN,NaN,0.024475,NaN,NaN,0.342105,NaN,NaN,...,NaN,NaN,a,NaN,a,NaN,b,NaN,NaN,NaN
3,1896,a,NaN,NaN,0.041694,NaN,NaN,0.447368,NaN,NaN,...,NaN,NaN,NaN,NaN,a,NaN,NaN,NaN,NaN,NaN
4,18262,c,NaN,NaN,0.038120,NaN,NaN,0.315789,NaN,NaN,...,NaN,NaN,b,NaN,a,NaN,a,NaN,NaN,NaN

In [462]:
b =  df.isnull().sum() * 100/len(df)
print(b)

id          0.000000
release     0.000000
n_0000     99.870254
n_0001     94.810161
n_0002      4.397706
n_0003     98.634253
n_0004     99.323955
n_0005      4.438678
n_0006     82.812073
n_0007     87.694619
n_0008     99.952199
n_0009     99.562961
n_0010     99.644906
n_0011     99.979514
n_0012     30.572248
n_0013     98.087954
n_0014     96.332969
n_0015     86.649822
n_0016     96.524174
n_0017     92.611308
n_0018     99.972685
n_0019      5.852226
n_0020     95.021852
n_0021     99.781480
n_0022     95.718383
n_0023     99.692707
n_0024     99.262497
n_0025     92.843485
n_0026     97.999181
n_0027     94.448238
             ...
c_1348      0.013657
c_1349     99.993171
c_1350     99.808795
c_1351     99.624420
c_1352     93.396613
c_1353     99.528817
c_1354     89.804698
c_1355     94.004370
c_1356     99.938541
c_1357     99.125922
c_1358     99.972685
c_1359     99.720022
c_1360     99.993171
c_1361     30.333242
c_1362     98.449877
c_1363     31.098061
c_1364     90.931439
c_1365     86.636165
c_1366     86.759082
c_1367     99.979514
c_1368     99.965856
c_1369     99.433215
c_1370     95.090139
c_1371     99.986343
c_1372      0.027315
c_1373     94.441409
c_1374     60.447965
c_1375     93.027861
c_1376     99.945370
c_1377     75.600929
Length: 1379, dtype: float64

DROPING COLUMNS WHICH ARE HAVING NaN MORE THAN 80%

In [463]:
b = df.isnull().sum() * (100/len(df))  > 80 
print(b)

id         False
release    False
n_0000      True
n_0001      True
n_0002     False
n_0003      True
n_0004      True
n_0005     False
n_0006      True
n_0007      True
n_0008      True
n_0009      True
n_0010      True
n_0011      True
n_0012     False
n_0013      True
n_0014      True
n_0015      True
n_0016      True
n_0017      True
n_0018      True
n_0019     False
n_0020      True
n_0021      True
n_0022      True
n_0023      True
n_0024      True
n_0025      True
n_0026      True
n_0027      True
           ...
c_1348     False
c_1349      True
c_1350      True
c_1351      True
c_1352      True
c_1353      True
c_1354      True
c_1355      True
c_1356      True
c_1357      True
c_1358      True
c_1359      True
c_1360      True
c_1361     False
c_1362      True
c_1363     False
c_1364      True
c_1365      True
c_1366      True
c_1367      True
c_1368      True
c_1369      True
c_1370      True
c_1371      True
c_1372     False
c_1373      True
c_1374     False
c_1375      True
c_1376      True
c_1377     False
Length: 1379, dtype: bool

In [464]:
b = pd.DataFrame(b)

In [465]:
df = df[b[b[0]==False].index.values]
print(df)

          id release    n_0002    n_0005    n_0012  n_0019    n_0028  \
0      11193       a  0.025449  0.368421  0.292683     0.0       NaN
1      11382       a  0.031297  0.315789  0.243902     0.0       NaN
2      16531       a  0.024475  0.342105  0.304878     0.0       NaN
3       1896       a  0.041694  0.447368  0.207317     0.0       NaN
4      18262       c  0.038120  0.315789  0.219512     0.0       NaN
5      10540       b  0.039420  0.368421       NaN     0.0       NaN
6       5244       c  0.050141  0.394737  0.170732     0.0       NaN
7       1929       a  0.049166  0.710526  0.231707     0.2  0.045455
8      11928       b  0.050249  0.394737       NaN     0.0       NaN
9       6327       a  0.049491  0.500000  0.158537     0.0  0.045455
10     12437       b  0.016136  0.368421       NaN     0.0       NaN
11     14898       b  0.019277  0.421053       NaN     0.0       NaN
12      9981       b  0.020035  0.473684       NaN     0.0       NaN
13      5059       c  0.034113  0.473684  0.329268     0.0       NaN
14      8818       a  0.025774  0.342105  0.329268     0.0       NaN
15      9801       a  0.039636  0.473684  0.182927     0.0       NaN
16     17986       b  0.022092  0.500000       NaN     NaN       NaN
17     17970       a       NaN       NaN  0.036585     0.0       NaN
18       645       a  0.054364  0.342105  0.060976     0.0       NaN
19      6496       c       NaN       NaN  0.060976     0.0       NaN
20     10069       b  0.039528  0.394737       NaN     0.0       NaN
21      1854       a  0.055122  0.394737  0.060976     0.0  0.090909
22      7634       a  0.030648  0.473684  0.341463     0.0       NaN
23     11309       c  0.043210  0.368421  0.182927     0.0  0.045455
24     15456       b  0.040936  0.368421       NaN     0.0  0.045455
25     10175       a  0.027399  0.368421  0.280488     NaN       NaN
26      7195       a  0.034005  0.342105  0.231707     0.0  0.045455
27     17352       a  0.030431  0.473684  0.304878     0.0       NaN
28      6192       c  0.049383  0.421053  0.182927     0.0  0.045455
29     12494       b  0.034763  0.421053       NaN     0.0       NaN
...      ...     ...       ...       ...       ...     ...       ...
14614   8271       a  0.045376  0.368421  0.146341     0.0       NaN
14615  13516       c  0.059671  0.789474  0.256098     0.0  0.045455
14616   9145       b  0.023500  0.342105       NaN     0.0       NaN
14617   3530       a  0.050899  0.368421  0.085366     0.0       NaN
14618   9251       c  0.037470  0.394737  0.280488     0.2       NaN
14619  14983       c  0.055989  0.447368  0.121951     0.0  0.090909
14620   9190       c  0.036387  0.315789  0.256098     0.0       NaN
14621   4710       a  0.032164  0.368421  0.243902     0.0       NaN
14622  10849       b  0.029890  0.315789       NaN     0.0       NaN
14623  12656       b  0.025991  0.526316       NaN     0.0  0.045455
14624   2618       a  0.055772  0.500000  0.073171     0.0       NaN
14625  16445       c  0.062378  0.394737  0.036585     0.0       NaN
14626  15728       c  0.032489  0.447368  0.353659     0.0       NaN
14627   4876       a  0.025341  0.394737  0.353659     0.0       NaN
14628   4979       a  0.042777  0.263158  0.121951     0.0       NaN
14629   6468       a  0.034438  0.315789  0.231707     0.4       NaN
14630   5257       a  0.036929  0.421053  0.256098     0.0       NaN
14631    313       c  0.045267  0.315789  0.158537     0.0       NaN
14632  14780       c  0.042019  0.500000  0.280488     0.0       NaN
14633   5452       a  0.029348  0.342105  0.268293     0.0  0.090909
14634   4770       a  0.028698  0.342105  0.268293     0.0       NaN
14635  16558       a       NaN       NaN  0.073171     0.0       NaN
14636  11669       a  0.046026  0.263158  0.085366     0.0  0.045455
14637   3066       b  0.039636  0.552632       NaN     NaN       NaN
14638   3043       b  0.046675  0.473684       NaN     0.0  0.181818
14639   4114       a  0.026532  0.500000  0.353659     0.0       NaN
14640   5305       a  0.035846  0.342105  0.219512     0.0       NaN
14641  17461       c  0.060212  0.368421  0.036585     0.0       NaN
14642  12373       b  0.020576  0.315789       NaN     0.0       NaN
14643   5968       a  0.037254  0.526316  0.280488     0.0       NaN

         n_0034    n_0038    n_0039   ...    c_1333  c_1335  c_1343  c_1347  \
0      0.223881  0.193548       NaN   ...         e       w       b     NaN
1      0.104478  0.177419       NaN   ...         e       q       b     NaN
2      0.119403  0.290323       NaN   ...         e       u       a     NaN
3      0.149254  0.370968       NaN   ...       NaN       w       a     NaN
4      0.074627  0.177419  0.312500   ...         e       b       b       d
5           NaN  0.193548       NaN   ...         e     NaN     NaN     NaN
6      0.447761  0.403226       NaN   ...       NaN       q       a       d
7      0.373134  0.483871       NaN   ...       NaN       w       a     NaN
8           NaN  0.193548       NaN   ...         e     NaN     NaN     NaN
9           NaN  0.403226       NaN   ...         e       u       a     NaN
10     0.253731  0.241935  0.291667   ...         e     NaN     NaN     NaN
11     0.268657  0.241935       NaN   ...       NaN     NaN     NaN     NaN
12     0.134328  0.290323       NaN   ...       NaN     NaN     NaN     NaN
13     0.283582  0.225806       NaN   ...         e       g       b       e
14     0.238806  0.177419  0.562500   ...         e       u       a       d
15     0.283582  0.451613       NaN   ...       NaN       d       b     NaN
16          NaN  0.177419  0.062500   ...         a     NaN     NaN     NaN
17          NaN       NaN       NaN   ...       NaN     NaN       a     NaN
18          NaN  0.193548       NaN   ...         e       b       b       c
19          NaN       NaN       NaN   ...       NaN     NaN       a       c
20          NaN  0.193548       NaN   ...         e     NaN     NaN     NaN
21          NaN  0.177419       NaN   ...       NaN       w       b       d
22     0.268657  0.290323       NaN   ...       NaN       n       b       c
23          NaN       NaN  0.104167   ...         e       g       b       a
24     0.089552  0.177419       NaN   ...         e     NaN     NaN     NaN
25          NaN  0.193548       NaN   ...       NaN       q       b     NaN
26     0.149254  0.209677       NaN   ...         e       q       b       c
27     0.208955  0.241935       NaN   ...       NaN       q       b     NaN
28     0.432836  0.274194       NaN   ...         e       d       b       e
29     0.104478  0.225806       NaN   ...         d     NaN     NaN     NaN
...         ...       ...       ...   ...       ...     ...     ...     ...
14614       NaN  0.177419  0.270833   ...         e       u       b       d
14615  0.328358  0.516129       NaN   ...       NaN       u       b       e
14616  0.343284  0.145161       NaN   ...         c     NaN     NaN     NaN
14617       NaN  0.193548  0.125000   ...         e       u       b       c
14618       NaN  0.177419  0.270833   ...         e       u       b       c
14619  0.179104  0.225806       NaN   ...       NaN       w       b       f
14620  0.179104  0.161290  0.166667   ...       NaN       g       b       c
14621       NaN  0.177419       NaN   ...       NaN       w       b     NaN
14622       NaN  0.274194       NaN   ...       NaN     NaN     NaN     NaN
14623  0.149254  0.290323       NaN   ...       NaN     NaN     NaN     NaN
14624       NaN  0.241935       NaN   ...         e     NaN       a     NaN
14625       NaN  0.193548       NaN   ...       NaN       w       b       e
14626  0.149254  0.258065       NaN   ...         e       n       b       e
14627       NaN  0.209677  0.166667   ...       NaN       w       b       d
14628       NaN  0.129032  0.125000   ...       NaN       u       b       f
14629       NaN  0.177419  0.187500   ...       NaN       w       b       c
14630       NaN  0.241935  0.312500   ...         e       u       b       d
14631  0.283582  0.419355       NaN   ...       NaN       d       b       c
14632  0.522388  0.370968       NaN   ...       NaN       n       b       c
14633  0.179104  0.258065       NaN   ...         d       u       a     NaN
14634  0.104478  0.241935       NaN   ...       NaN       q       b     NaN
14635       NaN       NaN       NaN   ...       NaN     NaN       a       d
14636  0.179104  0.193548  0.145833   ...         e       g       b     NaN
14637  0.119403  0.274194       NaN   ...         d     NaN     NaN     NaN
14638  0.119403  0.258065       NaN   ...       NaN     NaN     NaN     NaN
14639  0.104478  0.258065       NaN   ...       NaN       g       b     NaN
14640       NaN  0.177419       NaN   ...       NaN       q       b       d
14641       NaN  0.306452       NaN   ...         b       w       b       f
14642  0.059701  0.177419       NaN   ...       NaN     NaN     NaN     NaN
14643  0.134328  0.290323       NaN   ...       NaN       u       b     NaN

       c_1348  c_1361  c_1363  c_1372  c_1374  c_1377
0           b       e       b       a       q     NaN
1           b       e       b       a     NaN     NaN
2           b       c       a       a       b     NaN
3           b       g       a       a     NaN     NaN
4           b       e       b       a       a     NaN
5           b       h     NaN       a     NaN     NaN
6           b       c       b       a     NaN     NaN
7           b     NaN       b       a     NaN     NaN
8           b     NaN     NaN       b     NaN       b
9           b       e       a       a     NaN     NaN
10          b       e     NaN       a     NaN     NaN
11          b       g     NaN       a     NaN     NaN
12          b     NaN     NaN       a     NaN     NaN
13          b       e       b       a       b     NaN
14          b       c       a       a     NaN     NaN
15          b     NaN       b       a     NaN     NaN
16          b     NaN     NaN       b     NaN     NaN
17          b     NaN       a       a     NaN       a
18          b     NaN       b       a     NaN       b
19          b     NaN       a       a     NaN       b
20          b     NaN     NaN       a     NaN     NaN
21          b     NaN       b       a     NaN       b
22          b       e       b       a       q     NaN
23          b       c       b       a       b     NaN
24          b       e     NaN       a     NaN     NaN
25          b       e       b       a     NaN     NaN
26          b       f       b       a       x     NaN
27          b       h       b       b     NaN     NaN
28          b       e       b       a     NaN     NaN
29          b       h     NaN       a     NaN     NaN
...       ...     ...     ...     ...     ...     ...
14614       b       d       b       a       b     NaN
14615       b     NaN       b       a     NaN     NaN
14616       b       g     NaN       a     NaN     NaN
14617       b       e       b       a       b       b
14618       b       c       a       a       b     NaN
14619       b       g       b       a       a     NaN
14620       d       c       b       a       b     NaN
14621       b       h       a       a       q     NaN
14622       b       h     NaN       a     NaN     NaN
14623       b     NaN     NaN       a     NaN     NaN
14624       b     NaN       a       a     NaN       a
14625       b       h       b       a       q       b
14626       b     NaN       b       a     NaN     NaN
14627       b     NaN       a       a     NaN     NaN
14628       b       g       b       a     NaN     NaN
14629       b       e       b       a       q     NaN
14630       b       g       b       a     NaN     NaN
14631       b       c       b       a     NaN     NaN
14632       c       e       b       b     NaN     NaN
14633       b       e       b       a     NaN     NaN
14634       b     NaN       b       b     NaN     NaN
14635       b     NaN       a       a     NaN       b
14636       b       c       b       a       b       b
14637       c     NaN     NaN       b     NaN     NaN
14638       b     NaN     NaN       a     NaN     NaN
14639       b     NaN       b       b     NaN     NaN
14640       b     NaN       b       b     NaN     NaN
14641       b     NaN       b       a     NaN       b
14642       b       e     NaN       a     NaN     NaN
14643       c       d       a       a     NaN     NaN

[14644 rows x 341 columns]

In [197]:
df.loc[0,:].count()

243

In [466]:

c = df.apply(lambda x: x.count(), axis=1)
print(c*100/df.shape[1])

0        71.260997
1        65.689150
2        62.756598
3        69.501466
4        89.149560
5        34.897361
6        80.351906
7        68.621701
8        34.604106
9        65.395894
10       39.882698
11       38.416422
12       35.483871
13       85.630499
14       68.035191
15       60.997067
16       31.378299
17       53.079179
18       68.035191
19       65.982405
20       31.378299
21       68.035191
22       73.313783
23       80.938416
24       40.469208
25       59.824047
26       75.366569
27       70.087977
28       83.284457
29       35.483871
           ...
14614    70.674487
14615    81.524927
14616    38.709677
14617    70.967742
14618    85.630499
14619    85.923754
14620    87.390029
14621    65.982405
14622    35.483871
14623    36.070381
14624    53.372434
14625    78.299120
14626    83.284457
14627    67.155425
14628    72.727273
14629    69.501466
14630    65.395894
14631    82.697947
14632    85.923754
14633    72.434018
14634    61.583578
14635    48.680352
14636    75.366569
14637    35.483871
14638    36.070381
14639    63.049853
14640    63.636364
14641    75.953079
14642    39.882698
14643    65.689150
Length: 14644, dtype: float64

In [469]:

d = (c*100/df.shape[1])>80
d = pd.DataFrame(d)

In [470]:
df1 = df.loc[d[d[0]==False].index.values,:]
print(df1)

          id release    n_0002    n_0005    n_0012  n_0019    n_0028  \
0      11193       a  0.025449  0.368421  0.292683     0.0       NaN
1      11382       a  0.031297  0.315789  0.243902     0.0       NaN
2      16531       a  0.024475  0.342105  0.304878     0.0       NaN
3       1896       a  0.041694  0.447368  0.207317     0.0       NaN
5      10540       b  0.039420  0.368421       NaN     0.0       NaN
7       1929       a  0.049166  0.710526  0.231707     0.2  0.045455
8      11928       b  0.050249  0.394737       NaN     0.0       NaN
9       6327       a  0.049491  0.500000  0.158537     0.0  0.045455
10     12437       b  0.016136  0.368421       NaN     0.0       NaN
11     14898       b  0.019277  0.421053       NaN     0.0       NaN
12      9981       b  0.020035  0.473684       NaN     0.0       NaN
14      8818       a  0.025774  0.342105  0.329268     0.0       NaN
15      9801       a  0.039636  0.473684  0.182927     0.0       NaN
16     17986       b  0.022092  0.500000       NaN     NaN       NaN
17     17970       a       NaN       NaN  0.036585     0.0       NaN
18       645       a  0.054364  0.342105  0.060976     0.0       NaN
19      6496       c       NaN       NaN  0.060976     0.0       NaN
20     10069       b  0.039528  0.394737       NaN     0.0       NaN
21      1854       a  0.055122  0.394737  0.060976     0.0  0.090909
22      7634       a  0.030648  0.473684  0.341463     0.0       NaN
24     15456       b  0.040936  0.368421       NaN     0.0  0.045455
25     10175       a  0.027399  0.368421  0.280488     NaN       NaN
26      7195       a  0.034005  0.342105  0.231707     0.0  0.045455
27     17352       a  0.030431  0.473684  0.304878     0.0       NaN
29     12494       b  0.034763  0.421053       NaN     0.0       NaN
30     10007       a  0.051440  0.421053  0.121951     0.0       NaN
31     11357       a  0.053606  0.552632  0.146341     0.0       NaN
32      7313       a  0.053173  0.368421  0.073171     0.0       NaN
33      5299       b  0.043535  0.342105       NaN     0.0       NaN
34      1432       a  0.026424  0.342105  0.304878     0.0       NaN
...      ...     ...       ...       ...       ...     ...       ...
14605   9405       a  0.056422  0.368421  0.048780     0.0       NaN
14606  13950       b  0.012454  0.315789       NaN     0.0  0.045455
14608   9595       a  0.040394  0.394737  0.207317     0.0       NaN
14609   3465       a       NaN       NaN  0.256098     0.0       NaN
14610   8317       a       NaN       NaN  0.121951     0.0       NaN
14611   2206       b  0.042560  0.421053       NaN     0.0  0.090909
14613  15577       a  0.025125  0.394737  0.353659     0.0       NaN
14614   8271       a  0.045376  0.368421  0.146341     0.0       NaN
14616   9145       b  0.023500  0.342105       NaN     0.0       NaN
14617   3530       a  0.050899  0.368421  0.085366     0.0       NaN
14621   4710       a  0.032164  0.368421  0.243902     0.0       NaN
14622  10849       b  0.029890  0.315789       NaN     0.0       NaN
14623  12656       b  0.025991  0.526316       NaN     0.0  0.045455
14624   2618       a  0.055772  0.500000  0.073171     0.0       NaN
14625  16445       c  0.062378  0.394737  0.036585     0.0       NaN
14627   4876       a  0.025341  0.394737  0.353659     0.0       NaN
14628   4979       a  0.042777  0.263158  0.121951     0.0       NaN
14629   6468       a  0.034438  0.315789  0.231707     0.4       NaN
14630   5257       a  0.036929  0.421053  0.256098     0.0       NaN
14633   5452       a  0.029348  0.342105  0.268293     0.0  0.090909
14634   4770       a  0.028698  0.342105  0.268293     0.0       NaN
14635  16558       a       NaN       NaN  0.073171     0.0       NaN
14636  11669       a  0.046026  0.263158  0.085366     0.0  0.045455
14637   3066       b  0.039636  0.552632       NaN     NaN       NaN
14638   3043       b  0.046675  0.473684       NaN     0.0  0.181818
14639   4114       a  0.026532  0.500000  0.353659     0.0       NaN
14640   5305       a  0.035846  0.342105  0.219512     0.0       NaN
14641  17461       c  0.060212  0.368421  0.036585     0.0       NaN
14642  12373       b  0.020576  0.315789       NaN     0.0       NaN
14643   5968       a  0.037254  0.526316  0.280488     0.0       NaN

         n_0034    n_0038    n_0039   ...    c_1333  c_1335  c_1343  c_1347  \
0      0.223881  0.193548       NaN   ...         e       w       b     NaN
1      0.104478  0.177419       NaN   ...         e       q       b     NaN
2      0.119403  0.290323       NaN   ...         e       u       a     NaN
3      0.149254  0.370968       NaN   ...       NaN       w       a     NaN
5           NaN  0.193548       NaN   ...         e     NaN     NaN     NaN
7      0.373134  0.483871       NaN   ...       NaN       w       a     NaN
8           NaN  0.193548       NaN   ...         e     NaN     NaN     NaN
9           NaN  0.403226       NaN   ...         e       u       a     NaN
10     0.253731  0.241935  0.291667   ...         e     NaN     NaN     NaN
11     0.268657  0.241935       NaN   ...       NaN     NaN     NaN     NaN
12     0.134328  0.290323       NaN   ...       NaN     NaN     NaN     NaN
14     0.238806  0.177419  0.562500   ...         e       u       a       d
15     0.283582  0.451613       NaN   ...       NaN       d       b     NaN
16          NaN  0.177419  0.062500   ...         a     NaN     NaN     NaN
17          NaN       NaN       NaN   ...       NaN     NaN       a     NaN
18          NaN  0.193548       NaN   ...         e       b       b       c
19          NaN       NaN       NaN   ...       NaN     NaN       a       c
20          NaN  0.193548       NaN   ...         e     NaN     NaN     NaN
21          NaN  0.177419       NaN   ...       NaN       w       b       d
22     0.268657  0.290323       NaN   ...       NaN       n       b       c
24     0.089552  0.177419       NaN   ...         e     NaN     NaN     NaN
25          NaN  0.193548       NaN   ...       NaN       q       b     NaN
26     0.149254  0.209677       NaN   ...         e       q       b       c
27     0.208955  0.241935       NaN   ...       NaN       q       b     NaN
29     0.104478  0.225806       NaN   ...         d     NaN     NaN     NaN
30     0.313433  0.483871       NaN   ...         e       w       b       c
31     0.208955  0.370968       NaN   ...       NaN       j       b       d
32          NaN  0.193548  0.166667   ...         e       w       b       e
33          NaN  0.177419       NaN   ...         c     NaN     NaN     NaN
34     0.208955  0.177419       NaN   ...       NaN       u       b       d
...         ...       ...       ...   ...       ...     ...     ...     ...
14605       NaN  0.193548       NaN   ...       NaN       j       b       c
14606  0.059701  0.161290       NaN   ...       NaN     NaN     NaN     NaN
14608  0.149254  0.193548  0.312500   ...         e       q       b       d
14609       NaN       NaN  0.104167   ...       NaN     NaN       a     NaN
14610       NaN       NaN       NaN   ...       NaN     NaN       a       c
14611       NaN  0.209677       NaN   ...         a     NaN     NaN     NaN
14613  0.149254  0.225806       NaN   ...       NaN       q       a       d
14614       NaN  0.177419  0.270833   ...         e       u       b       d
14616  0.343284  0.145161       NaN   ...         c     NaN     NaN     NaN
14617       NaN  0.193548  0.125000   ...         e       u       b       c
14621       NaN  0.177419       NaN   ...       NaN       w       b     NaN
14622       NaN  0.274194       NaN   ...       NaN     NaN     NaN     NaN
14623  0.149254  0.290323       NaN   ...       NaN     NaN     NaN     NaN
14624       NaN  0.241935       NaN   ...         e     NaN       a     NaN
14625       NaN  0.193548       NaN   ...       NaN       w       b       e
14627       NaN  0.209677  0.166667   ...       NaN       w       b       d
14628       NaN  0.129032  0.125000   ...       NaN       u       b       f
14629       NaN  0.177419  0.187500   ...       NaN       w       b       c
14630       NaN  0.241935  0.312500   ...         e       u       b       d
14633  0.179104  0.258065       NaN   ...         d       u       a     NaN
14634  0.104478  0.241935       NaN   ...       NaN       q       b     NaN
14635       NaN       NaN       NaN   ...       NaN     NaN       a       d
14636  0.179104  0.193548  0.145833   ...         e       g       b     NaN
14637  0.119403  0.274194       NaN   ...         d     NaN     NaN     NaN
14638  0.119403  0.258065       NaN   ...       NaN     NaN     NaN     NaN
14639  0.104478  0.258065       NaN   ...       NaN       g       b     NaN
14640       NaN  0.177419       NaN   ...       NaN       q       b       d
14641       NaN  0.306452       NaN   ...         b       w       b       f
14642  0.059701  0.177419       NaN   ...       NaN     NaN     NaN     NaN
14643  0.134328  0.290323       NaN   ...       NaN       u       b     NaN

       c_1348  c_1361  c_1363  c_1372  c_1374  c_1377
0           b       e       b       a       q     NaN
1           b       e       b       a     NaN     NaN
2           b       c       a       a       b     NaN
3           b       g       a       a     NaN     NaN
5           b       h     NaN       a     NaN     NaN
7           b     NaN       b       a     NaN     NaN
8           b     NaN     NaN       b     NaN       b
9           b       e       a       a     NaN     NaN
10          b       e     NaN       a     NaN     NaN
11          b       g     NaN       a     NaN     NaN
12          b     NaN     NaN       a     NaN     NaN
14          b       c       a       a     NaN     NaN
15          b     NaN       b       a     NaN     NaN
16          b     NaN     NaN       b     NaN     NaN
17          b     NaN       a       a     NaN       a
18          b     NaN       b       a     NaN       b
19          b     NaN       a       a     NaN       b
20          b     NaN     NaN       a     NaN     NaN
21          b     NaN       b       a     NaN       b
22          b       e       b       a       q     NaN
24          b       e     NaN       a     NaN     NaN
25          b       e       b       a     NaN     NaN
26          b       f       b       a       x     NaN
27          b       h       b       b     NaN     NaN
29          b       h     NaN       a     NaN     NaN
30          b     NaN       b       a     NaN     NaN
31          b     NaN       b       a     NaN     NaN
32          b       c       b       a       b       b
33          b       h     NaN       a     NaN     NaN
34          b       e       b       a       b     NaN
...       ...     ...     ...     ...     ...     ...
14605       b       e       b       a     NaN       b
14606       b       e     NaN       a     NaN     NaN
14608       b       g       b       a       b     NaN
14609       b     NaN       a       a     NaN     NaN
14610       b     NaN       a       a     NaN       b
14611       b       e     NaN       a     NaN     NaN
14613       b       e       a       a     NaN     NaN
14614       b       d       b       a       b     NaN
14616       b       g     NaN       a     NaN     NaN
14617       b       e       b       a       b       b
14621       b       h       a       a       q     NaN
14622       b       h     NaN       a     NaN     NaN
14623       b     NaN     NaN       a     NaN     NaN
14624       b     NaN       a       a     NaN       a
14625       b       h       b       a       q       b
14627       b     NaN       a       a     NaN     NaN
14628       b       g       b       a     NaN     NaN
14629       b       e       b       a       q     NaN
14630       b       g       b       a     NaN     NaN
14633       b       e       b       a     NaN     NaN
14634       b     NaN       b       b     NaN     NaN
14635       b     NaN       a       a     NaN       b
14636       b       c       b       a       b       b
14637       c     NaN     NaN       b     NaN     NaN
14638       b     NaN     NaN       a     NaN     NaN
14639       b     NaN       b       b     NaN     NaN
14640       b     NaN       b       b     NaN     NaN
14641       b     NaN       b       a     NaN       b
14642       b       e     NaN       a     NaN     NaN
14643       c       d       a       a     NaN     NaN

[12118 rows x 341 columns]

In [471]:
for col in df1.columns.values:
    if 'n_' in col:
        df1[col].fillna(value = df1[col].mean(), inplace = True)
    elif 'o_' in col:
        df1[col].fillna(value = df1[col].mode()[0], inplace = True)
    elif 'c_' in col:
        try:
            df1[col].fillna(value = df1[col].mode()[0], inplace = True)
        except:
            print(col)
    else : 
        pass

In [215]:
df1['o_0120']

0        0.000000
1        0.000000
2        0.000000
3        0.333333
5        0.000000
7        0.000000
8        1.000000
9        0.000000
10       0.000000
11       0.000000
12       0.000000
14       0.166667
15       0.000000
16       0.166667
17       0.000000
18       0.000000
19       0.000000
20       0.000000
21       0.000000
22       0.000000
24       0.000000
25       0.166667
26       0.166667
27       0.166667
29       0.333333
30       0.166667
31       0.000000
32       0.000000
33       0.000000
34       0.333333
           ...
14605    0.000000
14606    0.166667
14608    0.000000
14609    0.000000
14610    0.000000
14611    0.166667
14613    0.000000
14614    0.000000
14616    0.000000
14617    0.000000
14621    0.333333
14622    0.166667
14623    0.000000
14624    0.000000
14625    0.000000
14627    0.000000
14628    0.000000
14629    0.000000
14630    0.166667
14633    0.166667
14634    0.000000
14635    0.000000
14636    0.166667
14637    0.000000
14638    0.000000
14639    0.000000
14640    0.000000
14641    0.000000
14642    0.000000
14643    0.000000
Name: o_0120, Length: 12118, dtype: float64

In [472]:
df2 = pd.get_dummies(df1, drop_first=True)

In [473]:
def fnminmax(x):
    x = np.array(x)
    return list((x-min(x))/(max(x)-min(x)))

In [210]:
df2= df2.apply(lambda x: fnminmax(x),axis=1)

In [475]:
print(df2)

          id    n_0002    n_0005    n_0012    n_0019    n_0028    n_0034  \
0      11193  0.025449  0.368421  0.292683  0.000000  0.077922  0.223881
1      11382  0.031297  0.315789  0.243902  0.000000  0.077922  0.104478
2      16531  0.024475  0.342105  0.304878  0.000000  0.077922  0.119403
3       1896  0.041694  0.447368  0.207317  0.000000  0.077922  0.149254
5      10540  0.039420  0.368421  0.171006  0.000000  0.077922  0.186689
7       1929  0.049166  0.710526  0.231707  0.200000  0.045455  0.373134
8      11928  0.050249  0.394737  0.171006  0.000000  0.077922  0.186689
9       6327  0.049491  0.500000  0.158537  0.000000  0.045455  0.186689
10     12437  0.016136  0.368421  0.171006  0.000000  0.077922  0.253731
11     14898  0.019277  0.421053  0.171006  0.000000  0.077922  0.268657
12      9981  0.020035  0.473684  0.171006  0.000000  0.077922  0.134328
14      8818  0.025774  0.342105  0.329268  0.000000  0.077922  0.238806
15      9801  0.039636  0.473684  0.182927  0.000000  0.077922  0.283582
16     17986  0.022092  0.500000  0.171006  0.020077  0.077922  0.186689
17     17970  0.039776  0.398922  0.036585  0.000000  0.077922  0.186689
18       645  0.054364  0.342105  0.060976  0.000000  0.077922  0.186689
19      6496  0.039776  0.398922  0.060976  0.000000  0.077922  0.186689
20     10069  0.039528  0.394737  0.171006  0.000000  0.077922  0.186689
21      1854  0.055122  0.394737  0.060976  0.000000  0.090909  0.186689
22      7634  0.030648  0.473684  0.341463  0.000000  0.077922  0.268657
24     15456  0.040936  0.368421  0.171006  0.000000  0.045455  0.089552
25     10175  0.027399  0.368421  0.280488  0.020077  0.077922  0.186689
26      7195  0.034005  0.342105  0.231707  0.000000  0.045455  0.149254
27     17352  0.030431  0.473684  0.304878  0.000000  0.077922  0.208955
29     12494  0.034763  0.421053  0.171006  0.000000  0.077922  0.104478
30     10007  0.051440  0.421053  0.121951  0.000000  0.077922  0.313433
31     11357  0.053606  0.552632  0.146341  0.000000  0.077922  0.208955
32      7313  0.053173  0.368421  0.073171  0.000000  0.077922  0.186689
33      5299  0.043535  0.342105  0.171006  0.000000  0.077922  0.186689
34      1432  0.026424  0.342105  0.304878  0.000000  0.077922  0.208955
...      ...       ...       ...       ...       ...       ...       ...
14605   9405  0.056422  0.368421  0.048780  0.000000  0.077922  0.186689
14606  13950  0.012454  0.315789  0.171006  0.000000  0.045455  0.059701
14608   9595  0.040394  0.394737  0.207317  0.000000  0.077922  0.149254
14609   3465  0.039776  0.398922  0.256098  0.000000  0.077922  0.186689
14610   8317  0.039776  0.398922  0.121951  0.000000  0.077922  0.186689
14611   2206  0.042560  0.421053  0.171006  0.000000  0.090909  0.186689
14613  15577  0.025125  0.394737  0.353659  0.000000  0.077922  0.149254
14614   8271  0.045376  0.368421  0.146341  0.000000  0.077922  0.186689
14616   9145  0.023500  0.342105  0.171006  0.000000  0.077922  0.343284
14617   3530  0.050899  0.368421  0.085366  0.000000  0.077922  0.186689
14621   4710  0.032164  0.368421  0.243902  0.000000  0.077922  0.186689
14622  10849  0.029890  0.315789  0.171006  0.000000  0.077922  0.186689
14623  12656  0.025991  0.526316  0.171006  0.000000  0.045455  0.149254
14624   2618  0.055772  0.500000  0.073171  0.000000  0.077922  0.186689
14625  16445  0.062378  0.394737  0.036585  0.000000  0.077922  0.186689
14627   4876  0.025341  0.394737  0.353659  0.000000  0.077922  0.186689
14628   4979  0.042777  0.263158  0.121951  0.000000  0.077922  0.186689
14629   6468  0.034438  0.315789  0.231707  0.400000  0.077922  0.186689
14630   5257  0.036929  0.421053  0.256098  0.000000  0.077922  0.186689
14633   5452  0.029348  0.342105  0.268293  0.000000  0.090909  0.179104
14634   4770  0.028698  0.342105  0.268293  0.000000  0.077922  0.104478
14635  16558  0.039776  0.398922  0.073171  0.000000  0.077922  0.186689
14636  11669  0.046026  0.263158  0.085366  0.000000  0.045455  0.179104
14637   3066  0.039636  0.552632  0.171006  0.020077  0.077922  0.119403
14638   3043  0.046675  0.473684  0.171006  0.000000  0.181818  0.119403
14639   4114  0.026532  0.500000  0.353659  0.000000  0.077922  0.104478
14640   5305  0.035846  0.342105  0.219512  0.000000  0.077922  0.186689
14641  17461  0.060212  0.368421  0.036585  0.000000  0.077922  0.186689
14642  12373  0.020576  0.315789  0.171006  0.000000  0.077922  0.059701
14643   5968  0.037254  0.526316  0.280488  0.000000  0.077922  0.134328

         n_0038    n_0039  n_0047    ...     c_1374_p  c_1374_q  c_1374_r  \
0      0.193548  0.240872       1    ...            0         1         0
1      0.177419  0.240872       1    ...            0         0         0
2      0.290323  0.240872       1    ...            0         0         0
3      0.370968  0.240872       1    ...            0         0         0
5      0.193548  0.240872       1    ...            0         0         0
7      0.483871  0.240872       1    ...            0         0         0
8      0.193548  0.240872       1    ...            0         0         0
9      0.403226  0.240872       1    ...            0         0         0
10     0.241935  0.291667       1    ...            0         0         0
11     0.241935  0.240872       1    ...            0         0         0
12     0.290323  0.240872       1    ...            0         0         0
14     0.177419  0.562500       1    ...            0         0         0
15     0.451613  0.240872       1    ...            0         0         0
16     0.177419  0.062500       1    ...            0         0         0
17     0.241444  0.240872       1    ...            0         0         0
18     0.193548  0.240872       1    ...            0         0         0
19     0.241444  0.240872       1    ...            0         0         0
20     0.193548  0.240872       1    ...            0         0         0
21     0.177419  0.240872       1    ...            0         0         0
22     0.290323  0.240872       1    ...            0         1         0
24     0.177419  0.240872       1    ...            0         0         0
25     0.193548  0.240872       1    ...            0         0         0
26     0.209677  0.240872       1    ...            0         0         0
27     0.241935  0.240872       1    ...            0         0         0
29     0.225806  0.240872       1    ...            0         0         0
30     0.483871  0.240872       1    ...            0         0         0
31     0.370968  0.240872       1    ...            0         0         0
32     0.193548  0.166667       1    ...            0         0         0
33     0.177419  0.240872       1    ...            0         0         0
34     0.177419  0.240872       1    ...            0         0         0
...         ...       ...     ...    ...          ...       ...       ...
14605  0.193548  0.240872       1    ...            0         0         0
14606  0.161290  0.240872       1    ...            0         0         0
14608  0.193548  0.312500       1    ...            0         0         0
14609  0.241444  0.104167       1    ...            0         0         0
14610  0.241444  0.240872       1    ...            0         0         0
14611  0.209677  0.240872       1    ...            0         0         0
14613  0.225806  0.240872       1    ...            0         0         0
14614  0.177419  0.270833       1    ...            0         0         0
14616  0.145161  0.240872       1    ...            0         0         0
14617  0.193548  0.125000       1    ...            0         0         0
14621  0.177419  0.240872       1    ...            0         1         0
14622  0.274194  0.240872       1    ...            0         0         0
14623  0.290323  0.240872       1    ...            0         0         0
14624  0.241935  0.240872       1    ...            0         0         0
14625  0.193548  0.240872       1    ...            0         1         0
14627  0.209677  0.166667       1    ...            0         0         0
14628  0.129032  0.125000       1    ...            0         0         0
14629  0.177419  0.187500       1    ...            0         1         0
14630  0.241935  0.312500       1    ...            0         0         0
14633  0.258065  0.240872       1    ...            0         0         0
14634  0.241935  0.240872       1    ...            0         0         0
14635  0.241444  0.240872       1    ...            0         0         0
14636  0.193548  0.145833       1    ...            0         0         0
14637  0.274194  0.240872       1    ...            0         0         0
14638  0.258065  0.240872       1    ...            0         0         0
14639  0.258065  0.240872       1    ...            0         0         0
14640  0.177419  0.240872       1    ...            0         0         0
14641  0.306452  0.240872       1    ...            0         0         0
14642  0.177419  0.240872       1    ...            0         0         0
14643  0.290323  0.240872       1    ...            0         0         0

       c_1374_s  c_1374_t  c_1374_u  c_1374_v  c_1374_w  c_1374_x  c_1377_b
0             0         0         0         0         0         0         1
1             0         0         0         0         0         0         1
2             0         0         0         0         0         0         1
3             0         0         0         0         0         0         1
5             0         0         0         0         0         0         1
7             0         0         0         0         0         0         1
8             0         0         0         0         0         0         1
9             0         0         0         0         0         0         1
10            0         0         0         0         0         0         1
11            0         0         0         0         0         0         1
12            0         0         0         0         0         0         1
14            0         0         0         0         0         0         1
15            0         0         0         0         0         0         1
16            0         0         0         0         0         0         1
17            0         0         0         0         0         0         0
18            0         0         0         0         0         0         1
19            0         0         0         0         0         0         1
20            0         0         0         0         0         0         1
21            0         0         0         0         0         0         1
22            0         0         0         0         0         0         1
24            0         0         0         0         0         0         1
25            0         0         0         0         0         0         1
26            0         0         0         0         0         1         1
27            0         0         0         0         0         0         1
29            0         0         0         0         0         0         1
30            0         0         0         0         0         0         1
31            0         0         0         0         0         0         1
32            0         0         0         0         0         0         1
33            0         0         0         0         0         0         1
34            0         0         0         0         0         0         1
...         ...       ...       ...       ...       ...       ...       ...
14605         0         0         0         0         0         0         1
14606         0         0         0         0         0         0         1
14608         0         0         0         0         0         0         1
14609         0         0         0         0         0         0         1
14610         0         0         0         0         0         0         1
14611         0         0         0         0         0         0         1
14613         0         0         0         0         0         0         1
14614         0         0         0         0         0         0         1
14616         0         0         0         0         0         0         1
14617         0         0         0         0         0         0         1
14621         0         0         0         0         0         0         1
14622         0         0         0         0         0         0         1
14623         0         0         0         0         0         0         1
14624         0         0         0         0         0         0         0
14625         0         0         0         0         0         0         1
14627         0         0         0         0         0         0         1
14628         0         0         0         0         0         0         1
14629         0         0         0         0         0         0         1
14630         0         0         0         0         0         0         1
14633         0         0         0         0         0         0         1
14634         0         0         0         0         0         0         1
14635         0         0         0         0         0         0         1
14636         0         0         0         0         0         0         1
14637         0         0         0         0         0         0         1
14638         0         0         0         0         0         0         1
14639         0         0         0         0         0         0         1
14640         0         0         0         0         0         0         1
14641         0         0         0         0         0         0         1
14642         0         0         0         0         0         0         1
14643         0         0         0         0         0         0         1

[12118 rows x 1634 columns]

In [476]:
labels= pd.read_csv("train labels.csv")
a = labels
a.head()

,id,service_a,service_b,service_c,service_d,service_e,service_f,service_g,service_h,service_i,service_j,service_k,service_l,service_m,service_n
0,11193,1,1,0,0,0,0,0,0,0,1,1,0,0,0
1,11382,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2,16531,0,0,0,0,0,0,0,0,0,1,1,0,0,0
3,1896,0,0,0,1,0,0,0,0,0,1,0,1,0,0
4,18262,0,0,0,1,1,0,0,0,0,0,1,1,1,0

USING SERVICE-A,B,C AS TARGET VARAIBLES

In [477]:
labels = labels[['service_a','service_b','service_c']]
labels = labels.apply(lambda x : x.map(str),axis = 0)
labels['comb'] = labels['service_a']+labels['service_b']+labels['service_c']
newlabels = labels

In [478]:
df3=pd.concat([a, newlabels], axis = 1)
df4 = df3[['id','comb']]
df3.head()

,id,service_a,service_b,service_c,service_d,service_e,service_f,service_g,service_h,service_i,service_j,service_k,service_l,service_m,service_n,service_a,service_b,service_c,comb
0,11193,1,1,0,0,0,0,0,0,0,1,1,0,0,0,1,1,0,110
1,11382,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,000
2,16531,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,000
3,1896,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,000
4,18262,0,0,0,1,1,0,0,0,0,0,1,1,1,0,0,0,0,000

In [479]:
df5= pd.merge(df2,df4, how= 'inner', on = "id")
df5.head()

,id,n_0002,n_0005,n_0012,n_0019,n_0028,n_0034,n_0038,n_0039,n_0047,...,c_1374_q,c_1374_r,c_1374_s,c_1374_t,c_1374_u,c_1374_v,c_1374_w,c_1374_x,c_1377_b,comb
0,11193,0.025449,0.368421,0.292683,0.0,0.077922,0.223881,0.193548,0.240872,1,...,1,0,0,0,0,0,0,0,1,110
1,11382,0.031297,0.315789,0.243902,0.0,0.077922,0.104478,0.177419,0.240872,1,...,0,0,0,0,0,0,0,0,1,000
2,16531,0.024475,0.342105,0.304878,0.0,0.077922,0.119403,0.290323,0.240872,1,...,0,0,0,0,0,0,0,0,1,000
3,1896,0.041694,0.447368,0.207317,0.0,0.077922,0.149254,0.370968,0.240872,1,...,0,0,0,0,0,0,0,0,1,000
4,10540,0.039420,0.368421,0.171006,0.0,0.077922,0.186689,0.193548,0.240872,1,...,0,0,0,0,0,0,0,0,1,111

In [480]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(df5,df6['comb'])

KeyError: 'comb'

APPLYING DECISION TREE MODEL BY SPLITTING DATA INTO TEST AND TRAIN

In [481]:
X = df5.iloc[:,:1634] # independent variables
y = df5['comb'] # dependent variables

In [482]:
# evaluate the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3,
                                                    random_state=0)

In [483]:
clf = DecisionTreeClassifier()

In [484]:
model = clf.fit(X_train, y_train)

In [486]:
# predict class labels for the train set. The predict fuction converts probability values > .5 to 1 else 0
y_pred = model.predict(X_test)

In [487]:
y_pred

array(['100', '100', '000', ..., '000', '000', '100'], dtype=object)

In [488]:
# generate class probabilities
# Notice that 2 elements will be returned in probs array,

probs = model.predict_proba(X_test)

In [489]:
# 1st element is probability for negative class,
# 2nd element gives probability for positive class
probs

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [490]:
#probability for positive class
y_pred_prob = probs[:, 1]
y_pred_prob

array([0., 0., 0., ..., 0., 0., 0.])

In [493]:
# generate evaluation metrics
print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))

Accuracy:  0.4361936193619362

In [494]:
## splitting predictions into sepearate columns

pred1 = y_pred
pred2 = pd.DataFrame([list(i) for i in pred1])
pred2.head()

   0  1  2
0  1  0  0
1  1  0  0
2  0  0  0
3  0  0  0
4  0  0  0

In [495]:
pred3 = pd.DataFrame([list(i) for i in y_test])

In [496]:
##building confusion matrix for 3 seperate columns
from sklearn.metrics import confusion_matrix, classification_report
print(classification_report(pred2[0], pred3[0]))

             precision    recall  f1-score   support

          0       0.79      0.78      0.79      1941
          1       0.75      0.77      0.76      1695

avg / total       0.77      0.77      0.77      3636

In [497]:
print(classification_report(pred2[1], pred3[1]))

             precision    recall  f1-score   support

          0       0.78      0.77      0.78      2516
          1       0.50      0.52      0.51      1120

avg / total       0.70      0.69      0.70      3636

In [498]:
print(classification_report(pred2[2], pred3[2]))

             precision    recall  f1-score   support

          0       0.78      0.78      0.78      2718
          1       0.35      0.36      0.35       918

avg / total       0.67      0.67      0.67      3636

REMOVING COLUMNS WHICH ARE HAVING NaN MORE THAN 95%

In [503]:
dff = dataset
bdff = dff.isnull().sum() * 100/len(dff)

In [504]:
bdff= dff.isnull().sum() * (100/len(dff))  > 95

In [505]:
bdff = pd.DataFrame(bdff)
dff = dff[bdff[bdff[0]==False].index.values]
print(dff)

          id release    n_0001    n_0002    n_0005  n_0006    n_0007  \
0      11193       a       NaN  0.025449  0.368421     NaN       NaN
1      11382       a       NaN  0.031297  0.315789     NaN       NaN
2      16531       a       NaN  0.024475  0.342105     NaN       NaN
3       1896       a       NaN  0.041694  0.447368     NaN       NaN
4      18262       c       NaN  0.038120  0.315789     NaN       NaN
5      10540       b       NaN  0.039420  0.368421     NaN       NaN
6       5244       c       NaN  0.050141  0.394737     0.2       NaN
7       1929       a       NaN  0.049166  0.710526     NaN       NaN
8      11928       b       NaN  0.050249  0.394737     NaN       NaN
9       6327       a       NaN  0.049491  0.500000     NaN       NaN
10     12437       b       NaN  0.016136  0.368421     NaN       NaN
11     14898       b       NaN  0.019277  0.421053     NaN       NaN
12      9981       b       NaN  0.020035  0.473684     NaN       NaN
13      5059       c  0.809524  0.034113  0.473684     0.0       NaN
14      8818       a       NaN  0.025774  0.342105     NaN       NaN
15      9801       a       NaN  0.039636  0.473684     NaN       NaN
16     17986       b       NaN  0.022092  0.500000     NaN       NaN
17     17970       a       NaN       NaN       NaN     NaN       NaN
18       645       a       NaN  0.054364  0.342105     NaN       NaN
19      6496       c       NaN       NaN       NaN     0.2       NaN
20     10069       b       NaN  0.039528  0.394737     NaN       NaN
21      1854       a       NaN  0.055122  0.394737     NaN       NaN
22      7634       a       NaN  0.030648  0.473684     NaN       NaN
23     11309       c       NaN  0.043210  0.368421     0.0       NaN
24     15456       b       NaN  0.040936  0.368421     NaN       NaN
25     10175       a       NaN  0.027399  0.368421     NaN       NaN
26      7195       a       NaN  0.034005  0.342105     NaN  0.000000
27     17352       a       NaN  0.030431  0.473684     NaN       NaN
28      6192       c  0.452381  0.049383  0.421053     0.4       NaN
29     12494       b       NaN  0.034763  0.421053     NaN       NaN
...      ...     ...       ...       ...       ...     ...       ...
14614   8271       a       NaN  0.045376  0.368421     NaN       NaN
14615  13516       c       NaN  0.059671  0.789474     NaN       NaN
14616   9145       b       NaN  0.023500  0.342105     NaN       NaN
14617   3530       a       NaN  0.050899  0.368421     NaN       NaN
14618   9251       c       NaN  0.037470  0.394737     0.0       NaN
14619  14983       c       NaN  0.055989  0.447368     0.2  0.000000
14620   9190       c  0.785714  0.036387  0.315789     0.0  0.011905
14621   4710       a       NaN  0.032164  0.368421     NaN       NaN
14622  10849       b       NaN  0.029890  0.315789     NaN       NaN
14623  12656       b       NaN  0.025991  0.526316     NaN       NaN
14624   2618       a       NaN  0.055772  0.500000     NaN       NaN
14625  16445       c       NaN  0.062378  0.394737     0.2       NaN
14626  15728       c  0.666667  0.032489  0.447368     0.0       NaN
14627   4876       a       NaN  0.025341  0.394737     NaN       NaN
14628   4979       a       NaN  0.042777  0.263158     NaN       NaN
14629   6468       a       NaN  0.034438  0.315789     NaN  0.000000
14630   5257       a       NaN  0.036929  0.421053     NaN       NaN
14631    313       c  0.523810  0.045267  0.315789     NaN       NaN
14632  14780       c       NaN  0.042019  0.500000     0.0       NaN
14633   5452       a       NaN  0.029348  0.342105     NaN       NaN
14634   4770       a       NaN  0.028698  0.342105     NaN       NaN
14635  16558       a       NaN       NaN       NaN     NaN       NaN
14636  11669       a       NaN  0.046026  0.263158     NaN       NaN
14637   3066       b       NaN  0.039636  0.552632     NaN       NaN
14638   3043       b       NaN  0.046675  0.473684     NaN       NaN
14639   4114       a       NaN  0.026532  0.500000     NaN       NaN
14640   5305       a       NaN  0.035846  0.342105     NaN       NaN
14641  17461       c       NaN  0.060212  0.368421     0.4       NaN
14642  12373       b       NaN  0.020576  0.315789     NaN       NaN
14643   5968       a       NaN  0.037254  0.526316     NaN       NaN

         n_0012    n_0015    n_0017   ...    c_1361  c_1363  c_1364  c_1365  \
0      0.292683       NaN       NaN   ...         e       b     NaN     NaN
1      0.243902       NaN       NaN   ...         e       b     NaN       b
2      0.304878       NaN       NaN   ...         c       a     NaN     NaN
3      0.207317       NaN       NaN   ...         g       a     NaN       b
4      0.219512       NaN  0.388889   ...         e       b       b       b
5           NaN       NaN       NaN   ...         h     NaN     NaN     NaN
6      0.170732  0.014493  0.361111   ...         c       b     NaN     NaN
7      0.231707       NaN       NaN   ...       NaN       b     NaN     NaN
8           NaN       NaN       NaN   ...       NaN     NaN     NaN     NaN
9      0.158537       NaN       NaN   ...         e       a     NaN     NaN
10          NaN       NaN       NaN   ...         e     NaN     NaN     NaN
11          NaN       NaN       NaN   ...         g     NaN     NaN     NaN
12          NaN       NaN       NaN   ...       NaN     NaN     NaN     NaN
13     0.329268  0.000000       NaN   ...         e       b     NaN     NaN
14     0.329268       NaN       NaN   ...         c       a       b     NaN
15     0.182927       NaN       NaN   ...       NaN       b     NaN     NaN
16          NaN       NaN       NaN   ...       NaN     NaN     NaN       b
17     0.036585       NaN       NaN   ...       NaN       a     NaN     NaN
18     0.060976       NaN       NaN   ...       NaN       b     NaN     NaN
19     0.060976       NaN       NaN   ...       NaN       a     NaN     NaN
20          NaN       NaN       NaN   ...       NaN     NaN     NaN     NaN
21     0.060976       NaN       NaN   ...       NaN       b     NaN     NaN
22     0.341463       NaN       NaN   ...         e       b     NaN     NaN
23     0.182927       NaN       NaN   ...         c       b     NaN     NaN
24          NaN       NaN       NaN   ...         e     NaN     NaN     NaN
25     0.280488       NaN       NaN   ...         e       b     NaN       b
26     0.231707       NaN       NaN   ...         f       b     NaN       a
27     0.304878       NaN       NaN   ...         h       b     NaN       b
28     0.182927       NaN  0.444444   ...         e       b       b     NaN
29          NaN       NaN       NaN   ...         h     NaN     NaN     NaN
...         ...       ...       ...   ...       ...     ...     ...     ...
14614  0.146341       NaN       NaN   ...         d       b     NaN     NaN
14615  0.256098       NaN       NaN   ...       NaN       b     NaN     NaN
14616       NaN       NaN       NaN   ...         g     NaN     NaN     NaN
14617  0.085366       NaN       NaN   ...         e       b     NaN     NaN
14618  0.280488  0.014493       NaN   ...         c       a       b     NaN
14619  0.121951  0.130435  0.694444   ...         g       b     NaN     NaN
14620  0.256098  0.000000       NaN   ...         c       b     NaN       b
14621  0.243902       NaN       NaN   ...         h       a     NaN     NaN
14622       NaN       NaN       NaN   ...         h     NaN     NaN       b
14623       NaN       NaN       NaN   ...       NaN     NaN     NaN     NaN
14624  0.073171       NaN       NaN   ...       NaN       a     NaN     NaN
14625  0.036585  0.028986       NaN   ...         h       b     NaN     NaN
14626  0.353659       NaN       NaN   ...       NaN       b     NaN     NaN
14627  0.353659       NaN       NaN   ...       NaN       a     NaN     NaN
14628  0.121951       NaN       NaN   ...         g       b     NaN     NaN
14629  0.231707       NaN       NaN   ...         e       b       b     NaN
14630  0.256098       NaN       NaN   ...         g       b     NaN       b
14631  0.158537       NaN  0.388889   ...         c       b     NaN     NaN
14632  0.280488  0.000000       NaN   ...         e       b     NaN     NaN
14633  0.268293       NaN       NaN   ...         e       b     NaN     NaN
14634  0.268293       NaN       NaN   ...       NaN       b       b       b
14635  0.073171       NaN       NaN   ...       NaN       a     NaN     NaN
14636  0.085366       NaN       NaN   ...         c       b       b     NaN
14637       NaN       NaN       NaN   ...       NaN     NaN     NaN     NaN
14638       NaN       NaN       NaN   ...       NaN     NaN     NaN     NaN
14639  0.353659       NaN       NaN   ...       NaN       b     NaN     NaN
14640  0.219512       NaN       NaN   ...       NaN       b     NaN       b
14641  0.036585  0.014493       NaN   ...       NaN       b     NaN     NaN
14642       NaN       NaN       NaN   ...         e     NaN     NaN     NaN
14643  0.280488       NaN       NaN   ...         d       a     NaN     NaN

       c_1366  c_1372  c_1373  c_1374  c_1375  c_1377
0         NaN       a     NaN       q     NaN     NaN
1         NaN       a     NaN     NaN     NaN     NaN
2         NaN       a     NaN       b     NaN     NaN
3         NaN       a     NaN     NaN     NaN     NaN
4         NaN       a     NaN       a     NaN     NaN
5         NaN       a     NaN     NaN     NaN     NaN
6         NaN       a     NaN     NaN     NaN     NaN
7         NaN       a     NaN     NaN     NaN     NaN
8         NaN       b     NaN     NaN     NaN       b
9           a       a     NaN     NaN     NaN     NaN
10        NaN       a     NaN     NaN     NaN     NaN
11        NaN       a     NaN     NaN     NaN     NaN
12        NaN       a     NaN     NaN     NaN     NaN
13        NaN       a     NaN       b       p     NaN
14        NaN       a     NaN     NaN     NaN     NaN
15        NaN       a     NaN     NaN     NaN     NaN
16        NaN       b     NaN     NaN     NaN     NaN
17        NaN       a     NaN     NaN     NaN       a
18        NaN       a     NaN     NaN     NaN       b
19        NaN       a     NaN     NaN     NaN       b
20        NaN       a     NaN     NaN     NaN     NaN
21          a       a     NaN     NaN     NaN       b
22        NaN       a     NaN       q     NaN     NaN
23          d       a     NaN       b     NaN     NaN
24        NaN       a     NaN     NaN     NaN     NaN
25          b       a       d     NaN     NaN     NaN
26        NaN       a     NaN       x     NaN     NaN
27        NaN       b     NaN     NaN     NaN     NaN
28        NaN       a     NaN     NaN     NaN     NaN
29        NaN       a     NaN     NaN     NaN     NaN
...       ...     ...     ...     ...     ...     ...
14614     NaN       a     NaN       b     NaN     NaN
14615     NaN       a     NaN     NaN     NaN     NaN
14616     NaN       a     NaN     NaN     NaN     NaN
14617     NaN       a     NaN       b     NaN       b
14618     NaN       a     NaN       b     NaN     NaN
14619     NaN       a     NaN       a     NaN     NaN
14620     NaN       a     NaN       b       b     NaN
14621     NaN       a     NaN       q     NaN     NaN
14622       a       a     NaN     NaN     NaN     NaN
14623     NaN       a     NaN     NaN     NaN     NaN
14624     NaN       a     NaN     NaN     NaN       a
14625     NaN       a       d       q       j       b
14626     NaN       a     NaN     NaN     NaN     NaN
14627     NaN       a     NaN     NaN     NaN     NaN
14628     NaN       a     NaN     NaN     NaN     NaN
14629       a       a     NaN       q       j     NaN
14630       a       a     NaN     NaN     NaN     NaN
14631     NaN       a     NaN     NaN     NaN     NaN
14632     NaN       b     NaN     NaN     NaN     NaN
14633     NaN       a     NaN     NaN     NaN     NaN
14634     NaN       b     NaN     NaN     NaN     NaN
14635     NaN       a       d     NaN     NaN       b
14636     NaN       a     NaN       b     NaN       b
14637     NaN       b     NaN     NaN     NaN     NaN
14638     NaN       a     NaN     NaN     NaN     NaN
14639     NaN       b     NaN     NaN       p     NaN
14640     NaN       b     NaN     NaN     NaN     NaN
14641     NaN       a     NaN     NaN       j       b
14642     NaN       a     NaN     NaN     NaN     NaN
14643     NaN       a     NaN     NaN     NaN     NaN

[14644 rows x 609 columns]

In [508]:

cdff = dff.apply(lambda x: x.count(), axis=1)
print(cdff*100/dff.shape[1])

0        40.229885
1        42.692939
2        38.587849
3        42.364532
4        61.740558
5        20.853859
6        50.903120
7        39.408867
8        20.197044
9        39.737274
10       23.645320
11       22.167488
12       20.032841
13       67.159278
14       40.722496
15       34.482759
16       19.376026
17       31.198686
18       41.379310
19       39.737274
20       17.898194
21       42.036125
22       43.678161
23       57.799672
24       23.316913
25       37.274220
26       49.589491
27       42.692939
28       53.201970
29       22.003284
           ...
14614    41.543514
14615    48.275862
14616    22.003284
14617    43.678161
14618    53.366174
14619    55.500821
14620    77.668309
14621    43.678161
14622    23.645320
14623    20.689655
14624    31.034483
14625    61.247947
14626    50.903120
14627    40.229885
14628    42.528736
14629    51.067323
14630    41.871921
14631    53.530378
14632    53.858785
14633    43.678161
14634    36.945813
14635    28.243021
14636    47.783251
14637    20.197044
14638    20.361248
14639    47.783251
14640    38.423645
14641    57.307061
14642    23.809524
14643    40.394089
Length: 14644, dtype: float64

In [510]:

ddff = (cdff*100/dff.shape[1])>70
ddff = pd.DataFrame(ddff)

In [511]:
dff1 = dff.loc[ddff[ddff[0]==False].index.values,:]
print(dff1)

          id release    n_0001    n_0002    n_0005  n_0006  n_0007    n_0012  \
0      11193       a       NaN  0.025449  0.368421     NaN     NaN  0.292683
1      11382       a       NaN  0.031297  0.315789     NaN     NaN  0.243902
2      16531       a       NaN  0.024475  0.342105     NaN     NaN  0.304878
3       1896       a       NaN  0.041694  0.447368     NaN     NaN  0.207317
4      18262       c       NaN  0.038120  0.315789     NaN     NaN  0.219512
5      10540       b       NaN  0.039420  0.368421     NaN     NaN       NaN
6       5244       c       NaN  0.050141  0.394737     0.2     NaN  0.170732
7       1929       a       NaN  0.049166  0.710526     NaN     NaN  0.231707
8      11928       b       NaN  0.050249  0.394737     NaN     NaN       NaN
9       6327       a       NaN  0.049491  0.500000     NaN     NaN  0.158537
10     12437       b       NaN  0.016136  0.368421     NaN     NaN       NaN
11     14898       b       NaN  0.019277  0.421053     NaN     NaN       NaN
12      9981       b       NaN  0.020035  0.473684     NaN     NaN       NaN
13      5059       c  0.809524  0.034113  0.473684     0.0     NaN  0.329268
14      8818       a       NaN  0.025774  0.342105     NaN     NaN  0.329268
15      9801       a       NaN  0.039636  0.473684     NaN     NaN  0.182927
16     17986       b       NaN  0.022092  0.500000     NaN     NaN       NaN
17     17970       a       NaN       NaN       NaN     NaN     NaN  0.036585
18       645       a       NaN  0.054364  0.342105     NaN     NaN  0.060976
19      6496       c       NaN       NaN       NaN     0.2     NaN  0.060976
20     10069       b       NaN  0.039528  0.394737     NaN     NaN       NaN
21      1854       a       NaN  0.055122  0.394737     NaN     NaN  0.060976
22      7634       a       NaN  0.030648  0.473684     NaN     NaN  0.341463
23     11309       c       NaN  0.043210  0.368421     0.0     NaN  0.182927
24     15456       b       NaN  0.040936  0.368421     NaN     NaN       NaN
25     10175       a       NaN  0.027399  0.368421     NaN     NaN  0.280488
26      7195       a       NaN  0.034005  0.342105     NaN     0.0  0.231707
27     17352       a       NaN  0.030431  0.473684     NaN     NaN  0.304878
28      6192       c  0.452381  0.049383  0.421053     0.4     NaN  0.182927
29     12494       b       NaN  0.034763  0.421053     NaN     NaN       NaN
...      ...     ...       ...       ...       ...     ...     ...       ...
14613  15577       a       NaN  0.025125  0.394737     NaN     NaN  0.353659
14614   8271       a       NaN  0.045376  0.368421     NaN     NaN  0.146341
14615  13516       c       NaN  0.059671  0.789474     NaN     NaN  0.256098
14616   9145       b       NaN  0.023500  0.342105     NaN     NaN       NaN
14617   3530       a       NaN  0.050899  0.368421     NaN     NaN  0.085366
14618   9251       c       NaN  0.037470  0.394737     0.0     NaN  0.280488
14619  14983       c       NaN  0.055989  0.447368     0.2     0.0  0.121951
14621   4710       a       NaN  0.032164  0.368421     NaN     NaN  0.243902
14622  10849       b       NaN  0.029890  0.315789     NaN     NaN       NaN
14623  12656       b       NaN  0.025991  0.526316     NaN     NaN       NaN
14624   2618       a       NaN  0.055772  0.500000     NaN     NaN  0.073171
14625  16445       c       NaN  0.062378  0.394737     0.2     NaN  0.036585
14626  15728       c  0.666667  0.032489  0.447368     0.0     NaN  0.353659
14627   4876       a       NaN  0.025341  0.394737     NaN     NaN  0.353659
14628   4979       a       NaN  0.042777  0.263158     NaN     NaN  0.121951
14629   6468       a       NaN  0.034438  0.315789     NaN     0.0  0.231707
14630   5257       a       NaN  0.036929  0.421053     NaN     NaN  0.256098
14631    313       c  0.523810  0.045267  0.315789     NaN     NaN  0.158537
14632  14780       c       NaN  0.042019  0.500000     0.0     NaN  0.280488
14633   5452       a       NaN  0.029348  0.342105     NaN     NaN  0.268293
14634   4770       a       NaN  0.028698  0.342105     NaN     NaN  0.268293
14635  16558       a       NaN       NaN       NaN     NaN     NaN  0.073171
14636  11669       a       NaN  0.046026  0.263158     NaN     NaN  0.085366
14637   3066       b       NaN  0.039636  0.552632     NaN     NaN       NaN
14638   3043       b       NaN  0.046675  0.473684     NaN     NaN       NaN
14639   4114       a       NaN  0.026532  0.500000     NaN     NaN  0.353659
14640   5305       a       NaN  0.035846  0.342105     NaN     NaN  0.219512
14641  17461       c       NaN  0.060212  0.368421     0.4     NaN  0.036585
14642  12373       b       NaN  0.020576  0.315789     NaN     NaN       NaN
14643   5968       a       NaN  0.037254  0.526316     NaN     NaN  0.280488

         n_0015    n_0017   ...    c_1361  c_1363  c_1364  c_1365  c_1366  \
0           NaN       NaN   ...         e       b     NaN     NaN     NaN
1           NaN       NaN   ...         e       b     NaN       b     NaN
2           NaN       NaN   ...         c       a     NaN     NaN     NaN
3           NaN       NaN   ...         g       a     NaN       b     NaN
4           NaN  0.388889   ...         e       b       b       b     NaN
5           NaN       NaN   ...         h     NaN     NaN     NaN     NaN
6      0.014493  0.361111   ...         c       b     NaN     NaN     NaN
7           NaN       NaN   ...       NaN       b     NaN     NaN     NaN
8           NaN       NaN   ...       NaN     NaN     NaN     NaN     NaN
9           NaN       NaN   ...         e       a     NaN     NaN       a
10          NaN       NaN   ...         e     NaN     NaN     NaN     NaN
11          NaN       NaN   ...         g     NaN     NaN     NaN     NaN
12          NaN       NaN   ...       NaN     NaN     NaN     NaN     NaN
13     0.000000       NaN   ...         e       b     NaN     NaN     NaN
14          NaN       NaN   ...         c       a       b     NaN     NaN
15          NaN       NaN   ...       NaN       b     NaN     NaN     NaN
16          NaN       NaN   ...       NaN     NaN     NaN       b     NaN
17          NaN       NaN   ...       NaN       a     NaN     NaN     NaN
18          NaN       NaN   ...       NaN       b     NaN     NaN     NaN
19          NaN       NaN   ...       NaN       a     NaN     NaN     NaN
20          NaN       NaN   ...       NaN     NaN     NaN     NaN     NaN
21          NaN       NaN   ...       NaN       b     NaN     NaN       a
22          NaN       NaN   ...         e       b     NaN     NaN     NaN
23          NaN       NaN   ...         c       b     NaN     NaN       d
24          NaN       NaN   ...         e     NaN     NaN     NaN     NaN
25          NaN       NaN   ...         e       b     NaN       b       b
26          NaN       NaN   ...         f       b     NaN       a     NaN
27          NaN       NaN   ...         h       b     NaN       b     NaN
28          NaN  0.444444   ...         e       b       b     NaN     NaN
29          NaN       NaN   ...         h     NaN     NaN     NaN     NaN
...         ...       ...   ...       ...     ...     ...     ...     ...
14613       NaN       NaN   ...         e       a     NaN       b     NaN
14614       NaN       NaN   ...         d       b     NaN     NaN     NaN
14615       NaN       NaN   ...       NaN       b     NaN     NaN     NaN
14616       NaN       NaN   ...         g     NaN     NaN     NaN     NaN
14617       NaN       NaN   ...         e       b     NaN     NaN     NaN
14618  0.014493       NaN   ...         c       a       b     NaN     NaN
14619  0.130435  0.694444   ...         g       b     NaN     NaN     NaN
14621       NaN       NaN   ...         h       a     NaN     NaN     NaN
14622       NaN       NaN   ...         h     NaN     NaN       b       a
14623       NaN       NaN   ...       NaN     NaN     NaN     NaN     NaN
14624       NaN       NaN   ...       NaN       a     NaN     NaN     NaN
14625  0.028986       NaN   ...         h       b     NaN     NaN     NaN
14626       NaN       NaN   ...       NaN       b     NaN     NaN     NaN
14627       NaN       NaN   ...       NaN       a     NaN     NaN     NaN
14628       NaN       NaN   ...         g       b     NaN     NaN     NaN
14629       NaN       NaN   ...         e       b       b     NaN       a
14630       NaN       NaN   ...         g       b     NaN       b       a
14631       NaN  0.388889   ...         c       b     NaN     NaN     NaN
14632  0.000000       NaN   ...         e       b     NaN     NaN     NaN
14633       NaN       NaN   ...         e       b     NaN     NaN     NaN
14634       NaN       NaN   ...       NaN       b       b       b     NaN
14635       NaN       NaN   ...       NaN       a     NaN     NaN     NaN
14636       NaN       NaN   ...         c       b       b     NaN     NaN
14637       NaN       NaN   ...       NaN     NaN     NaN     NaN     NaN
14638       NaN       NaN   ...       NaN     NaN     NaN     NaN     NaN
14639       NaN       NaN   ...       NaN       b     NaN     NaN     NaN
14640       NaN       NaN   ...       NaN       b     NaN       b     NaN
14641  0.014493       NaN   ...       NaN       b     NaN     NaN     NaN
14642       NaN       NaN   ...         e     NaN     NaN     NaN     NaN
14643       NaN       NaN   ...         d       a     NaN     NaN     NaN

       c_1372  c_1373  c_1374  c_1375  c_1377
0           a     NaN       q     NaN     NaN
1           a     NaN     NaN     NaN     NaN
2           a     NaN       b     NaN     NaN
3           a     NaN     NaN     NaN     NaN
4           a     NaN       a     NaN     NaN
5           a     NaN     NaN     NaN     NaN
6           a     NaN     NaN     NaN     NaN
7           a     NaN     NaN     NaN     NaN
8           b     NaN     NaN     NaN       b
9           a     NaN     NaN     NaN     NaN
10          a     NaN     NaN     NaN     NaN
11          a     NaN     NaN     NaN     NaN
12          a     NaN     NaN     NaN     NaN
13          a     NaN       b       p     NaN
14          a     NaN     NaN     NaN     NaN
15          a     NaN     NaN     NaN     NaN
16          b     NaN     NaN     NaN     NaN
17          a     NaN     NaN     NaN       a
18          a     NaN     NaN     NaN       b
19          a     NaN     NaN     NaN       b
20          a     NaN     NaN     NaN     NaN
21          a     NaN     NaN     NaN       b
22          a     NaN       q     NaN     NaN
23          a     NaN       b     NaN     NaN
24          a     NaN     NaN     NaN     NaN
25          a       d     NaN     NaN     NaN
26          a     NaN       x     NaN     NaN
27          b     NaN     NaN     NaN     NaN
28          a     NaN     NaN     NaN     NaN
29          a     NaN     NaN     NaN     NaN
...       ...     ...     ...     ...     ...
14613       a     NaN     NaN     NaN     NaN
14614       a     NaN       b     NaN     NaN
14615       a     NaN     NaN     NaN     NaN
14616       a     NaN     NaN     NaN     NaN
14617       a     NaN       b     NaN       b
14618       a     NaN       b     NaN     NaN
14619       a     NaN       a     NaN     NaN
14621       a     NaN       q     NaN     NaN
14622       a     NaN     NaN     NaN     NaN
14623       a     NaN     NaN     NaN     NaN
14624       a     NaN     NaN     NaN       a
14625       a       d       q       j       b
14626       a     NaN     NaN     NaN     NaN
14627       a     NaN     NaN     NaN     NaN
14628       a     NaN     NaN     NaN     NaN
14629       a     NaN       q       j     NaN
14630       a     NaN     NaN     NaN     NaN
14631       a     NaN     NaN     NaN     NaN
14632       b     NaN     NaN     NaN     NaN
14633       a     NaN     NaN     NaN     NaN
14634       b     NaN     NaN     NaN     NaN
14635       a       d     NaN     NaN       b
14636       a     NaN       b     NaN       b
14637       b     NaN     NaN     NaN     NaN
14638       a     NaN     NaN     NaN     NaN
14639       b     NaN     NaN       p     NaN
14640       b     NaN     NaN     NaN     NaN
14641       a     NaN     NaN       j       b
14642       a     NaN     NaN     NaN     NaN
14643       a     NaN     NaN     NaN     NaN

[14606 rows x 609 columns]

In [512]:
for col in dff1.columns.values:
    if 'n_' in col:
        dff1[col].fillna(value = dff1[col].mean(), inplace = True)
    elif 'o_' in col:
        dff1[col].fillna(value = dff1[col].mode()[0], inplace = True)
    elif 'c_' in col:
        try:
            dff1[col].fillna(value = dff1[col].mode()[0], inplace = True)
        except:
            print(col)
    else : 
        pass

In [514]:
dff2 = pd.get_dummies(dff1, drop_first=True)
dff2.head()

,id,n_0001,n_0002,n_0005,n_0006,n_0007,n_0012,n_0015,n_0017,n_0019,...,c_1375_l,c_1375_m,c_1375_n,c_1375_o,c_1375_p,c_1375_q,c_1375_r,c_1375_s,c_1375_t,c_1377_b
0,11193,0.662165,0.025449,0.368421,0.195409,0.011225,0.292683,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
1,11382,0.662165,0.031297,0.315789,0.195409,0.011225,0.243902,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
2,16531,0.662165,0.024475,0.342105,0.195409,0.011225,0.304878,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
3,1896,0.662165,0.041694,0.447368,0.195409,0.011225,0.207317,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
4,18262,0.662165,0.038120,0.315789,0.195409,0.011225,0.219512,0.033965,0.388889,0.0,...,0,0,0,0,0,0,0,0,0,1

In [527]:
labels= pd.read_csv("train labels.csv")
adff = labels
adff.head()

,id,service_a,service_b,service_c,service_d,service_e,service_f,service_g,service_h,service_i,service_j,service_k,service_l,service_m,service_n
0,11193,1,1,0,0,0,0,0,0,0,1,1,0,0,0
1,11382,0,0,0,0,0,0,0,0,0,1,1,0,0,0
2,16531,0,0,0,0,0,0,0,0,0,1,1,0,0,0
3,1896,0,0,0,1,0,0,0,0,0,1,0,1,0,0
4,18262,0,0,0,1,1,0,0,0,0,0,1,1,1,0

In [531]:
labels = labels[['service_d','service_e','service_f']]

In [532]:
labels = labels.apply(lambda x : x.map(str),axis = 0)

In [535]:
labels['comb'] = labels['service_d']+labels['service_e']+labels['service_f']

In [536]:
newlabels = labels

In [537]:
dff3=pd.concat([adff, newlabels], axis = 1)
dff4 = dff3[['id','comb']]
dff4.head()

      id comb
0  11193  000
1  11382  000
2  16531  000
3   1896  100
4  18262  110

In [538]:
dff5= pd.merge(dff2,dff4, how= 'inner', on = "id")
dff5.head()

,id,n_0001,n_0002,n_0005,n_0006,n_0007,n_0012,n_0015,n_0017,n_0019,...,c_1375_m,c_1375_n,c_1375_o,c_1375_p,c_1375_q,c_1375_r,c_1375_s,c_1375_t,c_1377_b,comb
0,11193,0.662165,0.025449,0.368421,0.195409,0.011225,0.292683,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,1,000
1,11382,0.662165,0.031297,0.315789,0.195409,0.011225,0.243902,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,1,000
2,16531,0.662165,0.024475,0.342105,0.195409,0.011225,0.304878,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,1,000
3,1896,0.662165,0.041694,0.447368,0.195409,0.011225,0.207317,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,1,100
4,18262,0.662165,0.038120,0.315789,0.195409,0.011225,0.219512,0.033965,0.388889,0.0,...,0,0,0,0,0,0,0,0,1,110

APPLYING MODEL

In [539]:
X = dff5.iloc[:,:3109] # independent variables
y = dff5['comb'] # dependent variables

In [540]:
X.head()

,id,n_0001,n_0002,n_0005,n_0006,n_0007,n_0012,n_0015,n_0017,n_0019,...,c_1375_l,c_1375_m,c_1375_n,c_1375_o,c_1375_p,c_1375_q,c_1375_r,c_1375_s,c_1375_t,c_1377_b
0,11193,0.662165,0.025449,0.368421,0.195409,0.011225,0.292683,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
1,11382,0.662165,0.031297,0.315789,0.195409,0.011225,0.243902,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
2,16531,0.662165,0.024475,0.342105,0.195409,0.011225,0.304878,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
3,1896,0.662165,0.041694,0.447368,0.195409,0.011225,0.207317,0.033965,0.448625,0.0,...,0,0,0,0,0,0,0,0,0,1
4,18262,0.662165,0.038120,0.315789,0.195409,0.011225,0.219512,0.033965,0.388889,0.0,...,0,0,0,0,0,0,0,0,0,1

In [541]:
# evaluate the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3,
                                                    random_state=0)

In [542]:
clf = DecisionTreeClassifier()
model = clf.fit(X_train, y_train)

In [543]:
# predict class labels for the train set. The predict fuction converts probability values > .5 to 1 else 0
y_pred = model.predict(X_test)
y_pred

array(['000', '000', '000', ..., '000', '000', '000'], dtype=object)

In [544]:
# generate class probabilities
# Notice that 2 elements will be returned in probs array,

probs = model.predict_proba(X_test)

In [545]:
# 1st element is probability for negative class,
# 2nd element gives probability for positive class
probs

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [546]:
#probability for positive class
y_pred_prob = probs[:, 1]
y_pred_prob

array([0., 0., 0., ..., 0., 0., 0.])

In [547]:
# generate evaluation metrics
print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))

Accuracy:  0.8751711547238704

In [548]:
## splitting predictions into sepearate columns

pred1 = y_pred
pred2 = pd.DataFrame([list(i) for i in pred1])
pred2.head()

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
3  0  1  0
4  0  0  0

In [549]:
pred3 = pd.DataFrame([list(i) for i in y_test])

In [550]:
##building confusion matrix for 3 seperate columns
from sklearn.metrics import confusion_matrix, classification_report
print(classification_report(pred2[0], pred3[0]))

             precision    recall  f1-score   support

          0       0.99      0.99      0.99      4325
          1       0.50      0.51      0.50        57

avg / total       0.99      0.99      0.99      4382

In [551]:
print(classification_report(pred2[1], pred3[1]))

             precision    recall  f1-score   support

          0       0.96      0.96      0.96      4160
          1       0.19      0.19      0.19       222

avg / total       0.92      0.92      0.92      4382

In [552]:
print(classification_report(pred2[2], pred3[2]))

             precision    recall  f1-score   support

          0       0.98      0.98      0.98      4249
          1       0.33      0.33      0.33       133

avg / total       0.96      0.96      0.96      4382

In [457]:
print("Accuracy: ", metrics.accuracy_score(pred2,pred3)

SyntaxError: unexpected EOF while parsing (<ipython-input-457-52685394fd2a>, line 1)

                        ONE VS REST CLASSIFIER

In [360]:
from sklearn.multiclass import OneVsRestClassifier

In [377]:
#build a quick logistic regression model and check the accuracy

X = df2.iloc[:,:] # independent variables
y = labels['service_a'] # dependent variables

In [323]:
# evaluate the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3,
                                                    random_state=0)

In [371]:
OneVsRestClassifier(DecisionTreeClassifier(random_state=0)).fit(X_train, y_train).predict(X)

array(['110', '000', '000', ..., '111', '100', '111'], dtype='<U3')